.list_item{
  padding: 1rem 1rem 1rem 2rem;
  border-bottom: 1px solid #e7e7e7;
}

.list_item:hover{
  cursor: pointer;
}

.list_item.selected{
  background-color: #f1f1f1;
}

.list_item__bottom{
  display: flex;
}
.list_item__title {
  font-size: 1rem;
  font-weight: 700;
}
.list_item__date{
  font-weight: 500;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}
.list_item__text {
  font-size: 0.8rem;
  color: #777;
}